.secaoA {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secaoB {
    display: flex;
    padding: 4vh;
    align-items: center;
}

.secaoB img{
    height: 80vh;
    width: 125vh;
}

main img{
    height: auto;
    width: 100%;
    padding-bottom: 4vh;
}

li {
    list-style: none;
}

#mensalidade {
    color: green;
}

.blocoA {
    background-color: red;
    color: white;  
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(49, 45, 45, 0.9);
    width: 90%;
}

.blocoA p{
    padding: 4vh;
}

.blocoB {
    width: 50%;
    padding: 6px;
    border: 2px solid red;
    border-radius: 15px;
}